<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="application.css">
  <script src="bundle.js"></script>
  <meta charset="UTF-8">
  <title>SIMON</title>
</head>
<body ng-app = "simonApp">
  <header class="row">
    <div class="three columns"></div>
    <h1 class="six columns text">SIMON</h1>
  </header>
  <div ng-controller = "padController">

    <div class="row">
      <div class="three columns"></div>
      <div class="six columns">
          <label class="switch text">
            <input type="checkbox" ng-model="disableGame" ng-change="gameSwitch(disableGame)">
            <span class="slider"></span>
          </label>
      </div>
    </div>  

    <div class="row">
      <div class="three columns"></div>
      <button ng-hide="startCount==1" ng-click="startGame()" ng-disabled="!disableGame" ng-class="disableGame ? 'button-primary' : 'button' "class="six columns text">Start</button> 
    </div>

    <div class="row">
      <div class="three columns"></div>
      <button class="strict six columns text" ng-class="strictActive ? 'button-primary' : 'button' " ng-click="switchStrict(); strictActive = !strictActive" ng-disabled="!disableGame">Strict
      </button>
    </div>

    <div class="row">
      <div class="three columns"></div>
      <div class="six columns text">COUNT: {{ round }}</div>
    </div>

    <div class="row">
      <div class="three columns"></div>
      <div class="six columns text">MESSAGE: {{ message }}</div>
    </div>

    
    <section class="game-pad" ng-controller = "padController">
      <div>
      <div class="center">
        <button class="gameButton plainGreen" id="green" ng-style= "green" ng-click="pushed($event)" ng-disabled="disable"> </button>
        <button class="gameButton plainRed left" id="red" ng-style= "red" ng-click="pushed($event)" ng-disabled="disable"> </button>
      </div>
      </div>

      <div>
      <div class="center">
        <button class="gameButton plainYellow" id="yellow" ng-style= "yellow" ng-click="pushed($event)" ng-disabled="disable"> </button>
        <button class="gameButton plainBlue left" id="blue" ng-style= "blue" ng-click="pushed($event)" ng-disabled="disable"> </button>
      </div>
      </div>
    </section>

  </div>
</body>
</html>